<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FAQ</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <script src="/static/js/modernizr-2.8.3.min.js"></script>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/faq.css">


  </head>
    <body>
    <header role="banner" id="fh5co-header">
			<div class="container">
				<!-- <div class="row"> -->

		        <div id="navbar" class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
                      <li><a href="/echo" data-nav-section="about"><span>Echo</span></a></li>
                      <li><a href="/blog" data-nav-section="about"><span>Blog</span></a></li>
		            <li><a href="/about" data-nav-section="about"><span>About</span></a></li>
		            <li><a href="/contact" data-nav-section="contacts"><span>Contact</span></a></li>
		          </ul>
		        </div>
			    </nav>
			  <!-- </div> -->
		  </div>
	</header>
		<div id="faq_left" style="min-height:997px;" class="calibri col-md-4-sm-6-offset-6 stroke-standard">
				<!--<h3 style="width:100%">Frequently Asked Questions</h3>-->
				<!--<p>Click on the tabs below for help content of the desired category</p><hr>-->
				<div class="page_Q_A ideation " style="display: none;">
					<div class="faq_Q_A ideation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							I have a product idea. How can you help me?
						</p>
						<div class="faq_A" style="display: none;">
							<p>You've come to just the right place! We can help you make your idea a reality, while helping you earn in the process. All you need to do is submit your idea on our platform and participate in the co-creation. We will handpick the best ideas and take responsibility of developing them into products and bringing them into the market.</p>
						</div>
					</div>
					<!--<div class="horizontalRule ideation"></div>-->
					<div class="faq_Q_A ideation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							<!--<i class="fa fa-plus-square plus-icon"></i>
							<i class="fa fa-minus-square minus-icon" style='display:none;'></i>-->
							What kind of ideas can I submit?
						</p>
						<div class="faq_A" style="">
							<p>Ideas pertaining to any physical consumer products can be submitted on the platform. However, the ideas should belong to any of the below mentioned categories: </p>
                  <li>Home &amp; Kitchen</li>
                  <li>Health &amp; Fitness</li>
                  <li>Travel &amp; Adventure</li>
                  <li>Everyday innovations</li>
                  <li>Miscellaneous</li>
						</div>
					</div>
					<div class="faq_Q_A ideation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							How will I benefit from sharing my idea with Qulp?
						</p>
						<div class="faq_A" style="">
							<p>
                 Apart from the joy of watching your idea become a reality, we offer a percentage of the revenues earned through your product idea back to you in terms of monetary rewards. We take care of all the product development and IP protection costs. In short, we develop the product for you and pay you for the idea.
              </p>
						</div>
					</div>

				</div>
				<div class="page_Q_A validation" style="display: block;">
					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							On what basis an idea is valuated?
						</p>
						<div class="faq_A" style="display: none;">
							<p>Any idea shortlisted for final analysis is broadly valuated based on these 6 criteria
							</p><ul>
								<li>Idea concept</li>
								<li>Market viability</li>
								<li>Complexity in the design (from Manufacturing perspective)</li>
								<li>Impacton product portfolio</li>
	              <li>Legal implications</li>
								<li>Technology involved</li>
							</ul>
							<p></p>
						</div>
					</div>

					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							When does an idea become eligible for expert valuation?
						</p>
						<div class="faq_A" style="display: none;">
							<p>
							Any idea automatically becomes eligible for final analysis, if the respective collaborative innovation (a.k.a. co-creation) team completes all the aspects listed in the progress bar
							</p>
						</div>
					</div>

					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							How frequently Qulp validates ideas?
						</p>
						<div class="faq_A" style="display: none;">
							<p>
								Qulp validates the ideas on a monthly basis
							</p>
						</div>
					</div>

					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q active">
							<i class="fa fa-plus-square plus-icon" style="display: none;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: inline-block;"></i>&nbsp;&nbsp;
							Are all the ideas validated?
						</p>
						<div class="faq_A" style="">
							<p>
								Idea analysis is done in two parts
								</p>
                <ul>
									<li>Preliminary idea filtration.</li>
									<li>Idea analysis.</li>
									<li>In the preliminary filtration, 10-15 best ideas are shortlisted from a pool of submitted ideas.</li>
									<li>The 10-15 shortlisted ideas are subjected to a rigorous analysis by our in-house experts team, which selects 02-03 ideas every month.</li>
									</ul>
						</div>
					</div>

					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							What happens after idea analysis?
						</p>
						<div class="faq_A" style="display: none;">
							<p>
								In the idea analysis, upto 03 best viable ideas are selected by Qulp. These ideas are developed into real products and are put up for pre-sales. Upon meeting the pre-sale criteria, they're are mass manufactured and are made available on the market shelves near you.
							</p>
						</div>
					</div>


					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							What if Qulp doesn't select my idea to develop it into product?
						</p>
						<div class="faq_A" style="">
							<p>
							Yes. You can still pursue your idea. But, since you have utilised Qulp's collaborative innovation platform to enhance your idea, you become liable to pay up to 3% of the revenue generated by commercializing the idea
							</p>
						</div>
					</div>


					<div class="faq_Q_A validation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							What is research? What do I get being a part of it?
						</p>
						<div class="faq_A" style="">
							<p>
								Through research, Qulp assesses the viability of the respective to be product. Aspects like market survey, pricing, deciding the product features, etc. come under research. For their contribution, the users participated in the research receives a share of 1% of the net profits generated through the respective product sales.
							</p>
						</div>
					</div>
				</div>

	            <div class="page_Q_A cocreation" style="display: none;">
	    			<div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							What is co-creation/collaboration/collaborative innovation?
						</p>
						<div class="faq_A" style="display: none;">
							This is the amazing environment Qulp provides which comprises an online community of innovators. Here, people from different walks of life come together to help you improve and develop your idea.
						</div>
					</div>

	                <div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Who comprise a co-creation team?
						</p>
						<div class="faq_A" style="">
							Co-creation or collaborative innovation team consists of not more than 10 individuals handpicked by the ideator (Innovator). This team works on the idea refinement in a closed environment.
						</div>
					</div>

	                <div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							How can I join a co-creation team?
						</p>
						<div class="faq_A" style="">
	                    The list of co-creation teams with incomplete membership is available in the community dashboard, where you can send 'Join request' to the team of your choice. In addition, you can also join a co-creation team if the respective team ideator sends you a personal invitation.
						</div>
					</div>

	                <div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							What is an ideal size of a co-creation team?
						</p>
						<div class="faq_A" style="">
	                    The ideal size of a co-creation team is 10. It comprises of an Ideator (Inventor) and 09 collaborators
						</div>
					</div>

	                <div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							At a time, how many co-creation teams can I be part of?
	                        </p>
						<div class="faq_A" style="">
	                    At a time, you can be a a part of no more than 03 co-creation teams
	                    </div>
					</div>
	                <div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							What would i get for participating in co-creation?
	                        </p>
						<div class="faq_A" style="">

              For every product that hits the market, Qulp pays its online contributors a total of 11% of the net profits earned, through the respective product sales. Of which 5.5% are shared with the co-creation team, equally distributed amongst all the members includng the ideator.

            </div>
					</div>
	                  <div class="faq_Q_A cocreation" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							On what basis are the ideas shortlisted for analysis?
	                        </p>
						<div class="faq_A" style="display: none;">
	                    From the pool of submitted ideas, our team at Qulp handpicks 10-15 ideas for expert analysis. These 10-15 ideas are shortlisted on the basis of,
	                    <br>
	                    <ul>
	                        <li>Idea concept</li>
	                        <li>Review of the analysis of Market results</li>
	                        <li>Potential product features</li>
	                        <li>Critical review in comparison with the similar products (If any)</li>
	                        </ul>
	                    </div>
					</div>
	            </div>
			<!-- FAQ END -->
			<div class="careers page_Q_A" style="display: none;">
			<!--- CAREERS START-->
				<h3 style="width:100%">Careers</h3><hr>
				<div class="frontenddeveloper">
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Native Android developer
						</p>
						<div class="faq_A" style="display: none;">

								<div>
									<p>

										<strong>The Candidate</strong>
									</p>
									<div>
										<p>
                    Like to code? Will you die for a beautiful UI? Can't live without solving that algorithm problem that you just stumbled upon? Will you give up anything to squeeze in that last bit-level performance? If you are happily saying yes, then we already like you. Feel free to refer any crazy hacks or adventures of yours. Github profiles are always welcome.
                    </p>
									</div>
								</div>


								<div>
									<p><strong>Qualifications</strong></p>
									<div style="display:block">
									<ul>
                      <li>Strong coding abilities with Java and Android SDK</li>
                      <li>Experience working with remote data via REST and JSON.</li>
                      <li>Usage of third party libraries and API's.</li>
                      <li>Good knowledge on JAVA, HTML 5 & CSS.</li>
                      <li>Should have published at least one original Android App.</li>
                      <li>Solid understanding of full mobile development life cycle.</li>
                      <li>Should be very familiar with Security aspects in both iOS and Droid.</li>
                      <li>Must be obsessed with high quality.</li>
                      <li>Explore and adapt new technology and best practices while developing.</li>
                      <li>Eagerness to be part of a start up</li>
                  </ul>
				          <p></p>
									</div>
								</div>

				        <div>
									<br>
									<div style="display:block;float: left;">

										<p><strong>Job Perks</strong></p>
                      <ul>
                          <li>Leadership position & equity/ESOP to go with it + you can choose the most apt title.</li>
                          <li>Flexible working hours.</li>
                          <li>Complete autonomy & freedom. Just deliver.</li>
                          <li>And any other than you may suggest within rational limits :)</li>
                      </ul>

									</div>
								</div>
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							UX designer
						</p>
						<div class="faq_A" style="">
  					<div>
  						  <p>
  							 <strong></strong>
  						  </p>
    						<div>
    							   <p>
    	                 We’re looking for amazing and passionate UX designers to join our team, and help us build this platform.
    	             </p>
    						</div>
  					</div>

					<div>

						<div>
							<p><STRONG>Your typical day at Qulp will involve:</STRONG></p>
              <ul>
	              <li>Work with design and product management to create and ensure a consistent visual style to new and redesigned features.</li>
	              <li>Develop and maintain design wireframes, mockups, and specifications as needed.</li>
                <li>Export assets and illustrations for developers.</li>
                <li>Collaborate with other designers to maintain design consistency and coherence across the product as appropriate.</li>
                <li>Work with our social media manager to bring out compelling and delightful creatives that would drive user engagement in the social media.</li>
                <li>Working as part of a team with copywriters, other designers, web developers and marketing specialists.</li>
	            </ul>
	            <p></p>
						</div>
					</div>
	                <div>
						<p>

							<strong>Qualifications</strong>
						</p>
						<div>
							<ul>
                <li>Knowledge of material design.</li>
              	<li>Good design sense.</li>
              	<li>Hand on experience with design and mock up tools like Sketch/Photoshop/Illustrator.</li>
              	<li>Should have at least 1+ years working experience in this domain.</li>
              	<li>Understanding of the digital media nuances like Responsive Design, grids, resolutions, mobile first etc.</li>
              	<li>Good aesthetic sense and understanding of design fundamentals (Doesn’t matter if you went to a design school or not).</li>
              	<li>Experience/Keen interest in practising User Experience Design.</li>
              	<li>Obsession with design detail to perfection.</li>
              	<li>Experience/Interest in fundamentals of Web technologies like HTML/CSS3 (Don’t worry, we don’t expect you to be a unicorn and program complex stuff and you will be designing apps/websites but its important to know the medium well).
                </li>
                <li>Independent thought and action. Ability to decided and priortise correctly.</li>
                <li>Energy. Lots of it.</li>
              </ul>
						</div>
	                </div>
	                <div>
						<p><strong>Desired(not required)</strong></p>
						<div>
						    <ul>
                    <li>Motion design ability or experience using animation to educate, engage and delight.</li>
                    <li>Experience conducting user testing and/or analytical research.</li>
                    <li>HTML, BOOTSTRAP and CSS knowledge, current on latest responsive design techniques.</li>
                </ul>

						</div>
					</div>
          <div style="display:block;float: left;">

                    <p><strong>Job Perks</strong></p>
                      <ul>
                          <li>Leadership position & equity/ESOP to go with it + you can choose the most apt title.</li>
                          <li>Flexible working hours.</li>
                          <li>Complete autonomy & freedom. Just deliver.</li>
                          <li>And any other than you may suggest within rational limits :) .</li>
                      </ul>
                                <p></p>
                  </div>
						</div>
					</div>

          <div class="faq_Q_A frontenddeveloper" style="display: block;">
            <p class="faq_Q">
              <i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
              <i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
              Ruby, Rails developer
            </p>
            <div class="faq_A" style="">
            <div>
                <p>
                 <strong>The Candidate</strong>
                </p>
                <div>
                     <p>
                      You are an exceptional back end developer and you see the world in code. You are of the belief that quality is better than quantity and you can stand proudly behind your work.
                   </p>
                </div>
            </div>

          <div>

            <div>
              <p><STRONG>Your typical day at Qulp will involve:</STRONG></p>
              <ul>
                <li>Contributing to all aspects of building and maintaining the Qulp Technology Platform.</li>
                <li>Migrating to and working with AWS services such as EC2, S3, SES, SNS.</li>
                <li>Performance tuning and testing to ensure your code is deployed properly.</li>
              </ul>
              <p></p>
            </div>
          </div>
          <div style="display: block;float: left;">
            <p>

              <strong>Qualifications</strong>
            </p>
            <div>
             <ul>
                <li>Knowledge of Ruby, Rails, AWS.</li>
                <li>Git, and Bitbucket.</li>
                <li>Optional - Preferred Linux user.</li>
                <li>SEO,Social Media Integration,Payment processing (Active Merchant),E-commerce/Shopping carts.</li>
                <li>Dedicated and have a strong attention to detail.</li>
                <li>Action-oriented, diligent, and flexible</li>
                <li>Passion for what we are building at Qulp.</li>
                <li>Energy. Lots of it</li>
              </ul>
            </div>
                  </div>
                  <div style="display: block;float: left;">
            <p><strong>Desired(not required)</strong></p>
            <div>
                <ul>
                    <li>Ability to write flawless code in a fast paced environment.</li>
                    <li>Enthusiasm to work on non-designated projects, which aren't part of your job role.</li>
                </ul>

            </div>
          </div>
          <div style="display:block;float: left;">

                    <p><strong>Job Perks</strong></p>
                      <ul>
                          <li>Leadership position & equity/ESOP to go with it + you can choose the most apt title.</li>
                          <li>Flexible working hours.</li>
                          <li>Complete autonomy & freedom. Just deliver</li>
                          <li>And any other than you may suggest within rational limits :)</li>
                      </ul>
                                <p></p>
                  </div>
            </div>
          </div>
          <div class="faq_Q_A frontenddeveloper" style="display: block;">
            <p class="faq_Q">
              <i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
              <i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
              Internship - UX designer
            </p>
            <div class="faq_A" style="">
            <div>
                <p>
                 <strong></strong>
                </p>
                <div>
                     <p>
                       We’re looking for an amazing and passionate UX design interns to join our team, and help us build this platform
                   </p>
                </div>
            </div>

          <div>

            <div>
              <p><STRONG>Your typical day at Qulp will involve:</STRONG></p>
              <ul>
                <li>Work with design and product management to create and ensure a consistent visual style to new and redesigned features.</li>
                <li>Develop and maintain design wireframes, mockups, and specifications as needed.</li>
                <li>Export assets and illustrations for developers.</li>
                <li>Collaborate with other designers to maintain design consistency and coherence across the product as appropriate.</li>
                <li>Work with our social media manager to bring out compelling and delightful creatives that would drive user engagement in the social media.</li>
                <li>Working as part of a team with copywriters, other designers, web developers and marketing specialists.</li>
              </ul>
              <p></p>
            </div>
          </div>
                  <div>
            <p>

              <strong>Qualifications</strong>
            </p>
            <div>
              <p>
                  </p><ul>
                      <li>Knowledge of material design</li>
                    <li>Good design sense</li>
                    <li>Hand on experience with design and mock up tools like Sketch/Photoshop/Illustrator.</li>
                    <li>Should have at least 1+ years working experience in this domain.</li>
                    <li>Understanding of the digital media nuances like Responsive Design, grids, resolutions, mobile first etc.</li>
                    <li>Good aesthetic sense and understanding of design fundamentals (Doesn’t matter if you went to a design school or not).</li>
                    <li>Experience/Keen interest in practising User Experience Design.</li>
                    <li>Obsession with design detail to perfection.</li>
                    <li>Experience/Interest in fundamentals of Web technologies like HTML/CSS3 (Don’t worry, we don’t expect you to be a unicorn and program complex stuff and you will be designing apps/websites but its important to know the medium well).
                    </li>
                    <li>Independent thought and action. Ability to decided and priortise correctly.</li>
                    <li>Energy. Lots of it.</li>
                  </ul>


              <p></p>
            </div>
                  </div>
                  <div>
            <p><strong>Desired(not required)</strong></p>
            <div>
                <ul>
                    <li>Motion design ability or experience using animation to educate, engage and delight.</li>
                    <li>Experience conducting user testing and/or analytical research.</li>
                    <li>HTML, BOOSTRAP and CSS knowledge, current on latest responsive design techniques.</li>
                </ul>

            </div>
          </div>
          <div style="display:block;float: left;">

                    <p><strong>Job Perks</strong></p>
                      <ul>
                          <li>Leadership position & equity/ESOP to go with it + you can choose the most apt title.</li>
                          <li>Flexible working hours.</li>
                          <li>Complete autonomy & freedom. Just deliver.</li>
                          <li>And any other than you may suggest within rational limits :) .</li>
                      </ul>
                  </div>
            </div>
          </div>
					<!--div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Android/iOS app developer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Mechanical design engineer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Electrical Engineer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Industrial designer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							UI/UX, Interaction designer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Videography and Graphic designer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Photographer
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Social Media Marketing
						</p>
						<div class="faq_A" style="">
						</div>
					</div>
					<div class="faq_Q_A frontenddeveloper" style="display: block;">
						<p class="faq_Q">
							<i class="fa fa-plus-square plus-icon" style="display: inline-block;"></i>
							<i class="fa fa-minus-square minus-icon" style="display: none;"></i>&nbsp;&nbsp;
							Business Developer
						</p>
						<div class="faq_A" style="">
						</div>
					</div-->

					<!----------------------------------------------------------------------------------------
					<div class="faq_Q_A frontenddeveloper">

						<div class="faq_A" style="display:block">
							<p>
	                        We are Qulp.<br/>
	                        A collaborative product innovation company.<br/>
	                        We believe that the best ideas in the world aren't actually in the world--they're locked inpeople's heads.<br/>
	                        We exist to solve that problem.
	                        </p>
						</div>
					</div>

					<div class="faq_Q_A frontenddeveloper">
						<p class="faq_Q">

							The Company
						</p>
						<div class="faq_A" style="display:block">
							<p>
	                        Qulp Is a new type of company, one that involves all people interested in its decisions,and ultimately shares its success with those people who helped achieve it. And we aredeveloping a completely unique platform in which the realities and the complexities ofexecution do not stand in the way of a kickass ideaWe’re looking for amazing and passionate front end developers to join our team, and help usbuild this platform.
	                        </p>
						</div>
					</div>

					<div class="faq_Q_A frontenddeveloper">
						<p class="faq_Q">

							The Candidate
						</p>
						<div class="faq_A" style="display:block">
							<p>
	                        You have a solid grip in HTML, and CSS. You are of the belief that quality is better than quantity and you can stand proudly behind your work.
	                        </p>
						</div>
					</div>


					<div class="faq_Q_A frontenddeveloper">
						<p class="faq_Q">

							The Job
						</p>
						<div class="faq_A" style="display:block">
							<p>
	                        <ul>
	                            <li>Building and maintaining the frontend for the website that will go along with Qulp</li>
	                            <li>Contributing your valuable skills to a very, very big movement.</li>
	                            <li>Rapid prototyping and user testing for new website features</li>
	                            <li>“Cutting up” UI wireframes and graphic design elements into deployable web components</li>
	                            <li>Cross-browser testing and mobile compatibility</li>
	                        </ul>
	                        </p>
						</div>
					</div>

	                <div class="faq_Q_A frontenddeveloper">
						<p class="faq_Q">

							Qualifications
						</p>
						<div class="faq_A" style="display:block">
							<p>
	                            <ul>
	                                <li>Knowledge of HTML, CSS and CSS3, JQuery</li>
	                                <li>Knowledge of Photoshop and image editing</li>
	                                <li>Standards compliance and cross-browser and mobile compatibility</li>
	                                <li>Git</li>
	                                <li>Add-ons
	                                    <ul>
	                                    	<li>Prior experience</li>
	                                    	<li>SEO</li>
	                                    	<li>Social media integration</li>
	                                	</ul>
	                                </li>
	                                <li>Dedicated and have a strong attention to detail</li>
	                                <li>Strong time management and organizational skills to drive projects to completion</li>
	                                <li>Action-oriented, diligent, and flexible</li>
	                                <li>Passion for what we are building at Qulp</li>
	                            </ul>
	                        </p>
						</div>
	                </div>

	                <div class="faq_Q_A frontenddeveloper">
						<p class="faq_Q">

							Application
						</p>
						<div class="faq_A" style="display:block">
							<p>
	                        <ul>
	                            <li>Check us out at www.Qulp.in. Spend some time on our site understanding what we do. If you like what you see, please continue.</li>
	                            <li>Mail you applications, with the below enlisted details:
	                                <ul>
	                            	<li>Github profile link</li>
	                            	<li>Link to previous works</li>
	                            	<li>Your areas of expertise</li>
	                            	</ul>
	                            </li>
	                        </ul>
	                        </p>
						</div>
					</div>
					-------------------------------------------------------------------------->
				</div>


	            <div class="backenddeveloper">

				</div>

	       <div style="width:100%;text-align:right;padding: 20px;"><a target="_blank" href="mailto:careers@Qulp.in"
	       style="width:100px" id="reg_button" class="blue-btn btn">APPLY</a></div>

			<!--------------------------- CAREERS END ------------------------------------>
		</div>

		<div class="privacypolicy page_Q_A" style="display:none;">
			<h3 style="width:100%">Privacy Policy</h3><hr>
			<p>We recognize that your privacy is very important and take it seriously. This Privacy Policy

describes Qulp's policies and procedures on the collection, use and disclosure of your

information when you use the Qulp Service, via the Qulp website, your mobile phone, or

through one of Qulp' applications for mobile devices. We will not use or share your information

with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to

information we collect by other means (including offline) or from other sources. Capitalized

terms that are not defined in this Privacy Policy have the meaning given them in our Terms of

Service.</p>

<p class="lead">Information Collection and Use</p>

<p>Qulp uses information we collect to analyze how the Service is used, diagnose service or

technical problems, maintain security, personalize content, remember information to help you

efficiently access your account, monitor aggregate metrics such as total number of visitors,

traffic, and demographic patterns, and track User Content and users as necessary to comply

with the Information Technology Act, 2000 and rules there under as applicable and the

amended provisions pertaining to electronic records in various statutes as amended by the </p>

<p class="lead">Information Technology Act, 2000</p>

<p>User-Provided Information: You provide us information about yourself, such as your name and

e-mail address, if you register for a member account with the Service. Your name and other

information you choose to add to your profile will be available for public viewing on the Service.

We may use your email address to send you Service-related notices (including any notices

required by law, in lieu of communication by postal mail). You can control receipt of certain

Service-related messages on your Settings page. We may also use your contact information to

send you marketing email messages. If you do not want to receive such messages, you may opt

out by following the instructions in the message. If you correspond with us by email, we may

retain the content of your email messages, your email address and our responses.</p>

<p>If you use your Facebook, Twitter, or other social networking site ("SNS") account information to

sign in to Qulp, we will collect and store your SNS user ID.</p>

<p>You also provide us information in User Content you post to the Service. Your contributions on

the Service, and metadata about them (such as when you posted them), are publicly viewable

on the Service, along with your name (unless the Service permits you to post anonymously).

This information may be searched by search engines and be republished elsewhere on the Web

in accordance with our Terms of Service.</p>

<p>If you choose to use our invitation service to invite a friend to the Service, we will ask you for

that person's email address and automatically send an email invitation. You may also use our

contact importer tool to help you upload your friends' email addresses so you can find friends

who are already on Qulp or invite friends to the Service. Qulp stores this information to send

invitations, to register your friend if your invitation is accepted, to track the success of our

invitation service, and to identify your friends on Qulp.</p>

<p>Information Collected Automatically: When you use the Service, we use persistent and session

cookies and other tracking technologies to: (a) store your username and password; (b) analyze

the usage of the Service; (c) customize the Service to your preferences; and (d) control the

advertising displayed by the Service. A persistent cookie remains on your computer after you

close your browser so that it can be used by your browser on subsequent visits to the Service.

Persistent cookies can be removed by following your web browser's directions. A session cookie

is temporary and disappears after you close your browser. You can reset your web browser

to refuse all cookies or to indicate when a cookie is being sent. However, some features of the

Service may not function properly if the ability to accept cookies is disabled.</p>

<p>We may also use other Internet technologies, log files, clear GIFs, Flash technologies, and

other similar technologies, to deliver or communicate with cookies and track your use of the

Service. We also may include clear GIFs in HTML-based emails sent to our users to determine

whether the message has been opened. As we adopt additional technology, we may also gather

additional information through other methods.</p>

<p>We use these automated technologies to collect and analyze certain types of information we

consider to be non-personal information, including: (a) information related to the devices

you use to access or interact with the Service, such as: IP addresses, geolocation information,

unique device identifiers and other information about your mobile phone or other mobile

device(s), browser types, browser language; and (b) information related to the ways in which

you interact with the Service, such as: referring and exit pages and URLs, platform type, the

number of clicks, domain names, landing pages, pages viewed and the order of those pages,

the amount of time spent on particular pages, the date and time you used the Service, and

other similar information. We may also capture other data, such as search criteria and results.

Qulp discloses a subset of this automatically collected information publicly. Specifically, you

consent to Qulp's disclosure of information related to the ways in which you interact with the

Service, such as: landing pages, pages viewed and the order of those pages (including questions

and answers viewed), the date and time you used the Service, and other similar information on

the Service to other Qulp users, along with your name and profile picture.</p>

<p>We may collect different types of information about your location, including general

information (e.g., IP address, pin code) and more specific information (e.g., GPS-based

functionality on mobile devices used to access the Service), and may use that information to

customize the Service with location-based information and features. If you access the Service

through a mobile device and you do not want your device to provide us with location-tracking

information, you can disable the GPS or other location-tracking functions on your device,

provided your device allows you to do this.</p>

<p>Qulp may allow third parties to serve advertisements on the Service and on third-party services

and use other third parties to help us collect and analyze information about your use of the

service, generate aggregate site usage statistics and provide content sharing services to support

the Service. These third parties may also use cookies and similar technologies to collect similar

non-personal information about your use of the Service. Qulp does not control the third

parties' use of such technologies and their use is governed by those parties' privacy policies.

How We Share Your Information</p>

<p>Personally Identifiable Information: Qulp may share your personally identifiable information

with third parties for the purpose of providing the Service to you or with third parties offering

combined services with Qulp. For example, we may share your personally identifiable

information with third-party partners that display Qulp questions and answers through their

services so that such partners can tailor content and advertising to you. If we do this, this

Privacy Policy will bind such third parties' use of your information. We may store personal

information in locations outside the direct control of Qulp (for instance, on servers or

databases co-located with hosting providers).</p>

<p>As we develop our business, we may buy or sell assets or business offerings. Customer, email,

and visitor information is generally one of the transferred business assets in these types of

transactions. We may also transfer or assign such information in the course of corporate

divestitures, mergers, or dissolution.</p>

<p>We may share or disclose your information with your consent, such as if you choose to sign

on to the Service through a third-party service. We cannot control third parties' use of your

information.</p>

<p>Qulp may disclose your personal information if required to do so by law or if we believe that it

is reasonably necessary to comply with a law, regulation or legal request; to protect the safety

of any person; to address fraud, security or technical issues; or to protect Qulp's rights or

property.</p>

<p>Non-Personally Identifiable Information: We may aggregate and/or anonymize information

collected through the Service so that the information does not identify you. We may use

aggregated, anonymized, and other non-personally identifiable information for any purpose,

including for research and marketing purposes, and our use and disclosure of such information

is not subject to any restrictions under this Privacy Policy.</p>

<p>Qulp may allow third-party ad servers or ad networks to serve advertisements on the Service

and on third-party services. These third-party ad servers or ad networks use technology

to send, directly to your browser, the advertisements and links that appear on Qulp.

They automatically receive your IP address when this happens. They may also use other

technologies (such as cookies, JavaScript, or web beacons) to measure the effectiveness of

their advertisements and to personalize the advertising content. Qulp does not provide any

personally identifiable information to these third-party ad servers or ad networks without your

consent. However, please note that if an advertiser asks Qulp to show an advertisement to

a certain audience and you respond to that advertisement, the advertiser or ad server may

conclude that you fit the description of the audience they are trying to reach. The Qulp Privacy

Policy does not apply to, and we cannot control the activities of, third-party advertisers. Please

consult the respective privacy policies of such advertisers for more information.</p>

<p class="lead">How We Protect Your Information</p>

<p>Qulp uses commercially reasonable physical, managerial, and technical safeguards to preserve

the integrity and security of your personal information. We cannot, however, ensure or warrant

the security of any information you transmit to Qulp or guarantee that your information on the

Service may not be accessed, disclosed, altered, or destroyed by breach of any of our physical,

technical, or managerial safeguards.</p>

<p>In the event that personal information is compromised as a result of a breach of security, Qulp

will promptly notify those persons whose personal information has been compromised, in

accordance with the notification procedures set forth in this Privacy Policy, or as otherwise

required by applicable law.</p>

<p class="lead">Your Choices About Your Information</p>

<p>You may, of course, decline to submit personally identifiable information through the Service, in

which case Qulp may not be able to provide certain services to you. You may update or correct

your account information and email preferences at any time by logging in to your account.</p>

<p class="lead">Children's Privacy</p>

<p>The Site is not directed to or intended to be used by children under the age of 18. Qulp does

not knowingly collect personal information from children under the age of 18. If Qulp learns

that it has collected personal information of a child under the age of 18 without parental

consent, we will delete that data from our systems and terminate the child's account. If you

become aware that a child has provided Qulp with personal information without parental

consent, please contact Qulp at legal@Qulp.in.</p>

<p class="lead">Links to Other Web Sites</p>

<p>We are not responsible for the practices employed by websites linked to or from the Service,

nor the information or content contained therein. Please remember that when you use a link to

go from the Service to another website, our Privacy Policy is no longer in effect. Your browsing

and interaction on any other website, including those that have a link on our website, is subject

to that website's own rules and policies.</p>

<p class="lead">Changes to Our Privacy Policy</p>

<p>If we change our privacy policies and procedures, we will post those changes on this page to

keep you aware of what information we collect, how we use it and under what circumstances

we may disclose it. Changes to this Privacy Policy are effective when they are posted on this

page.</p>
		</div>

		<div class="termsandconditions page_Q_A" style="display:none;">
			Terms and Conditions...

		</div>

		</div>

	</div>



        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/dropzone.js"></script>
        <script src="/static/js/dropzone.min.js"></script>
        <script src="/static/js/main.js"></script>

	</body>
</html>
