<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Echo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO"/>
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
    <meta name="author" content="FREEHTML5.CO"/>


    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>


    <link rel="shortcut icon" href="/static/img/favicon-16x16.png">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet'
          type='text/css'>
    <link href='/static/fonts/crew_fonts/icomoon' rel='stylesheet' type='text/css'>

    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/css/crew_css/animate.css">
    <link rel="stylesheet" href="/static/css/sass/blue.scss">
    <link rel="stylesheet" href="/static/css/sass/bootstrap/_scaffolding.scss">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/static/css/crew_css/icomoon.css">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="/static/css/crew_css/simple-line-icons.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="/static/css/crew_css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/crew_css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/crew_css/style.css">
    <link rel="stylesheet" href="/static/css/wavv_css/animate.min.css">
    <link rel="stylesheet" href="/static/css/wavv_css/allinone_carousel.css">
    <link rel="stylesheet" href="/static/css/wavv_css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/wavv_css/style.css">
    <link rel="stylesheet" href="/static/css/wavv_css/et-line.css">
    <link rel="stylesheet" type="text/css" href="/static/css/wavv_css/green.css" title="green" media="screen">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/crew_css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/crew_css/blue.css">


    <!-- Modernizr JS -->
    <script src="/static/js/crew_js/modernizr-2.6.2.min.js"></script>
    <style type="text/css">
        .topcorner {
            position: absolute;
            top: 0;
            left: -5px;
        }

    </style>


</head>
<body>
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/blog" data-nav-section="blog"><span>Blog</span></a></li>
                    <li><a href="/about" data-nav-section="about"><span>About</span></a></li>
                    <li><a href="/contact" data-nav-section="contacts"><span>Contact Me</span></a></li>
                    <li><a href="/FAQ" data-nav-section="about"><span>FAQ</span></a></li>
                    <li><a href="/Privacy" data-nav-section="Privacy"><span>Privacy Policy</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>
<div id="slider" data-section="home">
    <div class="owl-carousel owl-carousel-fullwidth owl-carousel-fullheight">
        <!-- You may change the background color here. -->
        <div class="item" style="background: #352f44;">
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-7 col-sm-7 row">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class=" to-animate" style="color: white;word-spacing:-1px">Making new connections.</h1>
                                <h1 class="to-animate" style="color: white;word-spacing: -1px"> The simpler and smarter way!</h1>
                                <br>
                                </br>
                                <a href='https://play.google.com/store/apps/details?id=com.qulp_echo&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                        style="width: 300px;height: 104.5px" alt='Get it on Google Play'
                                        src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                                        class="fh5co-lead to-animate"/></a>

                                <div class="topcorner">
                                    <div class="navbar-header ">
                                        <!-- Mobile Toggle Menu Button -->


                                        <a href="/echo"><img src="/static/img/logo_192.png"
                                                             class="fh5co-lead to-animate"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
                        <div class="iphone to-animate-2"><img src="/static/img/images/iphone-2.png"></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- You may change the background color here.  -->
        <div class="item" style="background: #38569f;">
            <div class="container" style="position: relative;">
                <div class="row">
                    <div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
                        <div class="fh5co-owl-text-wrap">
                            <div class="fh5co-owl-text">
                                <h1 class=" to-animate" style="color: white;word-spacing: -1px">Making new connections.</h1>
                                <h1 class="to-animate" style="color: white;word-spacing: -1px"> The simpler and smarter way!</h1>
                                <br>
                                </br>
                                <br>
                                </br>
                                <a
                                        href='https://play.google.com/store/apps/details?id=com.qulp_echo&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                                        style="width: 300px;height: 104.5px" alt='Get it on Google Play'
                                        src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                                        class="fh5co-lead to-animate"/></a>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
                        <div class="iphone to-animate-2"><img src="/static/img/images/iphone-1.png"
                                                              alt="Free HTML5 Template by FREEHTML5.co"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>
</div>


<div id="fh5co-about-us">
    <div class="container">
        <div class="row row-bottom-padded-lg" id="about-us">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">About Us</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 to-animate">
                        <h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8 to-animate">
                <img src="/static/img/images/img_1.jpg" class="img-responsive img-rounded" alt="Free HTML5 Template">
            </div>
            <div class="col-md-4 to-animate">
                <h2>How we got started</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean. A small river named Duden flows by their place and supplies it with the necessary
                    regelialia. </p>
                <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the
                    all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
                    day.</p>
                <p><a href="#" class="btn btn-primary">Meet the team</a></p>
            </div>
        </div>

        <div class="container">

            <section id="app-brief1" class="section">
                <div class="container">
                    <div class="row relative">
                        <div class="phones">
                            <img src="static/img/images/left-mob-front.png" alt="wava"
                                 class="left-mob-front img-responsive">
                            <img src="static/img/images/left-mob-back.png" alt="wava"
                                 class="left-mob-back img-responsive wow fadeInUp animated" data-wow-duration="1s"
                                 data-wow-offset="50" data-wow-delay="0s"
                                 style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                        </div>
                        <div class="col-md-6 col-md-offset-6">
                            <h2>Watch the world around you unfold.</h2>

                            <p class="space4" style="margin-right:2px">
                                See the profiles of all the people you cross paths with.
                                Everyday we cross paths with so many people and yet we don't know a thing about them.
                                Through the social integrations within Echo you can view the profiles of the ones near
                                you and learn more about them.


                            </p>
                            <br>

                            </br>
                            <h2> See how're you connected to others.</h2>
                            <p class="space4" style="margin-right:2px">
                                Connected through Facebook/Twitter, directly as friends/followers or indirectly as
                                mutual friends/common followers, Echo reflects it all.
                                Through Echo you can view the profiles of the ones near you and learn more about them.
                            </p>


                        </div><!-- col-md-6 end -->
                    </div><!-- row end -->
                </div><!-- container end -->
            </section>
        </div>
        <div class="container">
            <section id="app-brief2" class="section">
                <div class="container">
                    <div class="row relative">
                        <div class="phones">
                            <img src="static/img/images/right-mob-front.png" alt="wava"
                                 class="right-mob-front img-responsive">
                            <img src="static/img/images/right-mob-back.png" alt="wava"
                                 class="right-mob-back img-responsive wow fadeInUp animated" data-wow-duration="1s"
                                 data-wow-offset="50" data-wow-delay="0s"
                                 style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: fadeInUp;">
                        </div>
                        <div class="col-md-6">
                            <h2>Make the most out of your online social circles.</h2>

                            <p class="space4" style="margin-right:2px">
                                Discover people that interest you either personally or professionally, easily initiate a
                                conversation with them and leverage such connections to gain something substantial.
                            </p>
                            <br>

                            </br>
                            <h2>You're always a step away from meeting them.</h2>
                            <p class="space4" style="margin-right:2px">
                                Echo always shows the list of people that are around you. If you happen to stumble upon
                                any acquaintance or long lost friend or even a work prospect, then it'll be a matter of
                                few
                                moments before you could actually meet them in - person.
                            </p>


                        </div><!-- col-md-6 end -->
                    </div><!-- row end -->
                </div><!-- container end -->
            </section>
        </div>
        <section id="features" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titleSection">
                            <h2>WAVA Offers A Wide Range Of <span class="bold">Features</span></h2>
                            <p>
                                Is amazing, modern and clean landing page for showcase your app anything else.
                            </p>
                            <div class="coloredLine"></div>
                        </div><!-- titleSection end -->
                    </div><!-- col-md-12 end -->
                </div><!-- row end -->

                <div class="row">
                    <div class="col-md-4 leftFeatures">
                        <div class="text-right space100">
                            <i class="icon-heart bigIcon"></i>
                            <h4 class="bold">Creative Design</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at
                                justo tristique
                            </p>
                        </div><!-- text-right space100 end -->

                        <div class="text-right">
                            <i class="icon-bike bigIcon"></i>
                            <h4 class="bold">Cross-Browser Support</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at
                                justo tristique
                            </p>
                        </div><!-- text-right end -->

                    </div><!-- col-md-4 leftFeatures end -->

                    <div class="col-md-4">
                        <img src="static/img/images/features-mob.png" class="img-responsive wow bounceIn animated"
                             alt="features" data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
                             style="visibility: visible; animation-duration: 1s; animation-delay: 0s; animation-name: bounceIn;">
                    </div><!-- col-md-4 end -->

                    <div class="col-md-4 rightFeatures">
                        <div class="text-left space100">
                            <i class="icon-hotairballoon bigIcon"></i>
                            <h4 class="bold">Pure &amp; Simple</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at
                                justo tristique
                            </p>
                        </div><!-- text-left space40 end -->

                        <div class="text-left">
                            <i class="icon-camera bigIcon"></i>
                            <h4 class="bold">Color schemes</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nisi enim, vulputate at
                                justo tristique
                            </p>
                        </div><!-- text-left end -->
                    </div><!-- col-md-4 rightFeatures end -->

                </div><!-- row end -->
            </div><!-- container end -->
        </section>
        <div class="row">
            <div class="faq-area section" id="faq-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <div class="faq-header">
                                <h2 class="section-title">FAQ</h2>
                                <div class="t2_sep">
                                    <hr class="thick">
                                    <div class="sep_circles">
                                        <span><i class="fa fa-1 fa-circle"></i></span>
                                        <span><i class="fa fa-1 fa-circle"></i></span>
                                        <span><i class="fa fa-1 fa-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="faq-inner-area">
                                <div class="row padding-top40">
                                    <!--FAQ -->
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-2 margin-bottom20">
                                                <span class="faq-icon">Q</span>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="faq-inner">
                                                    <h4 style="color: green">What is Echo?</h4>

                                                    <p> Echo is a mobile app built with the aim of enabling its users to
                                                        make new connections,
                                                        and leverage their existing social circles to achieve something
                                                        substantial.
                                                        Through Echo you can discover people around you based on the
                                                        connections you share and professional/personal interests</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-2 margin-bottom20">
                                                <span class="faq-icon">Q</span>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="faq-inner">
                                                    <h4 style="color: green">Can anyone track my location using
                                                        Echo?</h4>

                                                    <p>No. No one can track your location using Echo.
                                                        Echo just uses a person’s real time location and shows you who
                                                        is nearby.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">

                                        </div>


                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-2 margin-bottom20">
                                                <span class="faq-icon">Q</span>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="faq-inner">
                                                    <h4 style="color: green">What privacy settings does Echo
                                                        provide?</h4>

                                                    <p> Echo ensures that a user has the final say in choosing against
                                                        issues concerning their privacy.
                                                        It offers its users the choice to stay hidden on the app.
                                                        If you don’t want anyone to find you on the app, you just have
                                                        to disable the feature ‘Let others discover me’ in the Settings.
                                                        Even the chat in Echo runs on a request mechanism.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2 margin-bottom20">
                                                <span class="faq-icon">Q</span>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="faq-inner">
                                                    <h4 style="color: green">Will Echo drain away my battery?</h4>

                                                    <p> Echo is built in a manner to minimize any kind of battery drain.
                                                        Our app is optimized to show its users the real time data even
                                                        when the locations services are running on’batterty saving mode.
                                                        Echo only accesses Wi-Fi networks or the nearest mobile tower
                                                        data to narrow down the location of the users.
                                                        With this feature in place, the impact on your phone’s battery
                                                        will hardly be noticeable..</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>

</div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="/static/js/crew_js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/crew_js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/static/js/crew_js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/static/js/crew_js/jquery.waypoints.min.js"></script>
<!-- Owl Carousel -->
<script src="/static/js/crew_js/owl.carousel.min.js"></script>


<script src="/static/js/crew_js/main.js"></script>


</body>
</html>
<footer>
    <div class="container">
        <div class="col-md-12">
            <a href="/echo" class="page-scroll"><img src="/static/img/logo_192.png"></a>
            <div class="space50"></div>
            <ul class="clearlist socialList">
                <li><a href="#"><i class="fa fa-facebook"></i><span class="hidden-xs"> Facebook </span></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i><span class="hidden-xs">Twitter</span></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i><span class="hidden-xs">Linkedin</span></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i><span class="hidden-xs">dribbble</span></a></li>
                <li><a href="#"><i class="fa fa-github"></i><span class="hidden-xs">github</span></a></li>
            </ul>
            <hr>
        </div><!-- col-md-12 end -->
    </div><!-- container end -->
</footer>
